<%= form_for([:admin,@offer], :html => { :multipart => true }) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :payout %><br />
    <%= f.text_field :payout %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
	<div class="field">
    <%= f.label :banner %><br />
		<% if @offer.banner && @offer.banner.file? %>
			<%= image_tag @offer.banner.url %><br />
			New banner<br />
		<% end %>
    <%= f.file_field :banner %>
  </div>
	<div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
